[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "leo-pfeiffer.github.io"]
	path = leo-pfeiffer.github.io
	url = git@github.com:leo-pfeiffer/leo-pfeiffer.github.io.git
