.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #464646;
    color: white;
}

.right {
    right: 0;
    background-color: white;
    color: #464646;
}

.centered {
    position: absolute;
}

.centered.is-left {
    transform: translate(-50%);
    left: 30%;
}

.centered.is-right {
    transform: translate(-50%);
    left: 15%;
}

#name {
    font-family: Garamond, serif;
    letter-spacing: 0.1em;
    font-size: 22px;
}

#tagline {
    font-family: "Times New Roman", serif;
    font-size: 12px;
}